/A05 - 08-09/TesteTAD/dist/
/A05 - 08-09/TesteTAD/build/
/A05 - 08-09/jogadorFutebol/build/
/A05 - 08-09/jogadorFutebol/dist/
/A09 - asasa/Teste/build/
/A09 - asasa/Teste/dist/
/A09 - 06-10/filaDinamica/dist/
/A09 - 06-10/filaDinamica/build/
/A10 - 17-11/listaSimplesmenteEncadeada/build/
/A10 - 17-11/listaSimplesmenteEncadeada/dist/
/A11 - 24-11/listaDuplamenteEncadeada/build/
/A11 - 24-11/listaDuplamenteEncadeada/dist/
/A11 - 24-11/listaDuplaProf/build/
/A11 - 24-11/listaDuplaProf/dist/
